.sidebar {
  display: flex;
  height: 100vh;
  width: 100%;
}
.topbar {
  margin-left: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.summarycards {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
