* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120vh;
}

.register-form {
  background: transparent;
  position: relative;
  border-radius: 20px;
  width: 460px;
  border: 2px solid rgba(255, 255, 255, .5);
  height: 500px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 20px; 
  backdrop-filter: blur(8px);
}

.register-form h2 {
  font-size: 2em;
  text-align: center;
  color: #fff;
}

.input-box {
  width: 100%;
  position: relative;
  margin: 15px 0;
  border-bottom: 2px solid #fff;
}

.input-box label {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
  color: white;
  pointer-events: none;
  font-size: 0.95em;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -10px;
  font-size: 1em;
  color: #fff;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 40px 0 35px; 
}

.input-icon-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.1rem;
  pointer-events: none;
}

.input-icon-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 10;
}

.terms {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin: 15px 0;
  font-size: 0.9em;
  color: #fff;
  width: 100%; 
}

.terms label input {
  margin-right: 3px;
}

.register-form button {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  cursor: pointer;
  color: #000;
  font-weight: 500;
}

.input-hint {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.strength-bar {
  transition: width 0.3s ease, background-color 0.3s ease;
}